*{
    padding: 0;
    margin: 0;
}
.navbar_main_box{
    background: #256dac;
}
.navbar_main_box ul{
    display: flex;
    list-style: none;
}
.navbar_main_box li{
    padding: 10px;
}
.navbar-space{
    display: flex;
}
.navbar{
    justify-content: space-between;
    padding: 10px ;
}
.navbar_main_box li:hover{
    color: rgb(195, 188, 180);
    transition: 1s;
}
.active {
    font-size: 1.2rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-right: 40px;
}