.post_main_box{
    margin-top: 5rem;
    justify-content: space-around;
    display: flex;
}
.post_box1 form{
    flex-direction: column;
    display: flex;
}
.post_box1 input{
    margin: 10px 0px;
    font-size: 1.5rem;
}
.post{
    font-size: 2.5rem;
    margin: 10px 0px;
}
.submit-post{
    background: rgb(129, 129, 232);
    border-radius: 10px;
    width: 40%;

}
#review{
    font-size: 1.25rem;
}